@import "../../../styles/variables.scss";

.code-section {
  width: 100%;
  padding: 25px;
  background-color: $white;

  .code-editor {
    min-height: 300px;
  }

  .description {
    margin-top: 20px;
    padding-top: 20px;
    font-size: $font-size-medium;
    border-top: 1px solid $gray-delta;
  }
}
