// Basic Color
$black: #0e0d0e;
$white: #fff;
$light-blue: #dfdee5;

$gray: #866c76;
$gray-alpha: #111;
$gray-beta: #202020;
$gray-gama: #333;
$gray-delta: #999;
$gray-epsilon: #4e463f;
$gray-zeta: #36302e;

// Theme Colors
$cod-gray: #1e1e1e;
$pink: #ce9178;
$straw: #d7ba7d;
$havelock-blue: #569cd6;
$anakiwa: #9cdcfe;
$coriander: #b5cea8;

$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 22px;
$pink: #ce9178;
$straw: #d7ba7d;
$havelock-blue: #569cd6;

$title-ffamily: "Abel", sans-serif;
$primary-ffamily: "Quicksand", sans-serif;
$monospace-ffamily: "Cutive Mono", monospace;

.code-section {
  width: 100%;
  pre {
    color: $straw;
    background-color: $gray-alpha;
    padding: 10px 25px;

    code {
      font-family: $monospace-ffamily;
      font-size: $font-size-medium;
    }
  }

  .description {
    font-size: $font-size-medium;
  }
}
