.home.page {
  text-align: center;

  .grid {
    max-width: 1200px;
    margin: 0 auto;
  }

  .intro {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .details {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .graph {
    height: 100%;
    width: 100%;
    background-color: #b9b9b9;
  }
}
