.home.page {
  .grid.container {
    width: 100% !important;
  }

  .intro {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .graph {
    height: 100%;
    width: 100%;
    background-color: #b9b9b9;
  }
}
