:root {
  --white: #fff;
  --black: #000;
  --orange: #f12711;
  --green: #dff9c4;
  --gray-alpha: #e9e9e9;
  --gray-beta: #aaa;
  --gray-gama: #999;
  --gray-delta: #666;
  --gray-upsilon: #333;

  --yellow-alpha: #d1ef55;
  --yellow-beta: #76c614;

  --blue-alpha: #e3def9;
  --blue-gama: #b721ff;
  --blue-delta: #17082b;
  --blue-upsilon: #030016;

  --red-alpha: #471f25;
  --red-beta: #fa709a;

  --purple: #a93ec6;

  /* fonts  */
  --title-ffamily: "Abel", sans-serif;
  --primary-ffamily: "Quicksand", sans-serif;
  --monospace-ffamily: "Cutive Mono", monospace;
}

body {
  font-family: var(--primary-ffamily);
  margin: 0;
  color: var(--blue-upsilon);
  background: var(--white);
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  background-color: #fdfdeb;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bcb6c5' fill-opacity='0.28' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1,
h2 {
  width: 100%;
  margin: 0;
}

h1 {
  font-family: var(--title-ffamily);
  text-transform: uppercase;
  font-size: 55px;
  line-height: 0.9;
}

h2 {
  font-family: var(--title-ffamily);
  width: auto;
}

a {
  text-decoration: none;
  display: block;
  padding: 0 30px 0 4px;
}
